<html>

<head>
  <title>User List</title>
</head>

<body>
  <h1>User List</h1>
  {{#each users}}
    <p>ID: {{this.id}}</p>
    <p>Username: {{this.username}}</p>
    <p>Email: {{this.email}}</p>
    <p>Created At: {{this.createdAt}}</p>
    <hr>
  {{/each}}
</body>

</html>