<html>

<head>
  <title>Account List</title>
</head>

<body>
  <h1>Account List</h1>
  {{#each accounts}}
  <p>ID: {{this.id}}</p>
  <p>Accountname: {{this.accountname}}</p>
  <p>Email: {{this.email}}</p>
  <p>Created At: {{this.createdAt}}</p>
  <hr>
  {{/each}}
</body>

</html>